.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-start{
    display: flex;
    justify-content: flex-start;
}
.flex-end{
    display: flex;
    justify-content: flex-start;
}
.flex-space{
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: white;
}
h5{
    color: rgb(178, 56, 56);
}
.tr-text{
    color: transparent;
    // text-shadow:white;
    -webkit-text-fill-color: rgb(252, 250, 250);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(12, 11, 11);
}
