.headerinfor{
    width: 100%;
    position: absolute;
    top: 25%;
    z-index: 200;
    @media(max-width: 600px),(max-width: 400px){
        background-color: black;
    }
    h3{
        color: rgb(4, 110, 25);
        text-align: center;
        font-size: 2.3rem;
        -webkit-text-stroke: .3px #f5f7f8;
    }
    p{
        color: white;
        text-align: center;
    }
    .verses-wrapper{
        margin-top: 1rem;
        width: 90%;
        position: absolute;
        left: 6%;
        padding: .3rem .2rem;
        @media(max-width: 600px),(max-width: 400px){
            left: 6%;
            width: 90%;
            margin-top: 4rem;
        }
        .verses{
            gap: 1.4rem;
            align-items: center;
            border: none;
            margin-top: 2rem;
            @media(max-width: 600px),(max-width: 400px){
                gap: .3rem;
                flex-wrap: wrap;
                // flex-direction: column;
                background-color: rebeccapurple;
                width: 100%;
                margin-top: .4rem;
                font-size: 15px;
            }
            @media(max-width: 370px),(max-width: 100px){
                gap: .3rem;
                font-size: 15px;
                background-color: rgb(248, 30, 45);
                margin-top: 1rem;
                ;
            }
            p{
                color: white;
                font-size: 1.5rem;
                font-style: italic;
                font-family: 'Kanit', sans-serif;
                @media(max-width: 370px),(max-width: 100px){
                    gap: .3rem;
                    font-size: 15px;
                    background-color: rgb(248, 30, 45);
                    margin-top: 1rem;
                    ;
                }
                @media(max-width: 300px),(max-width: 100px){
                    font-size: 15px;
                    background-color: rgb(248, 30, 45);
                    ;
                }
            }
        }
    }
}