*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import"global";
@import"more-details";
@import"headerinfo";
@import"contact";

body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    @media(max-width: 600px),(max-width: 400px){
        padding: 0;
        width: 100%;
    }
}
.about-navBar{
    width: 100%;
    position: absolute;
    position: fixed;
    padding: 1rem 2rem;
    border-bottom: 1px solid rgba(170, 170, 170, 0.601);
    z-index: 1300;
    background-color: rgba(0, 0, 0, 0.672);

    @media(max-width: 600px),(max-width: 400px){
        padding: .1rem 0rem;
        width: 100%;
        position: fixed;
    }
    .left-abt-nav{
        width: 60%;
        gap: 2rem;
        padding: .1rem 2rem;
        @media(max-width: 600px),(max-width: 400px){
            width: 100%;
            justify-content: space-between;
            padding: .1rem .4rem;
        }
        .logo-sectn{
            width: 30%;
            @media(max-width: 600px),(max-width: 400px){
                width: 100%;
                justify-content: space-between;
            }
            img{
                width: 92px;
                z-index: 200;
                @media(max-width: 600px),(max-width: 400px){
                    width: 15%;
                    justify-content: center;
                }
            }
            svg{
                display: none;
                @media(max-width: 600px),(max-width: 400px){
                    display: block;
                }
            }
        }
        .nav-links{
            gap: 2rem;
            @media(max-width: 600px),(max-width: 400px){
                display: none;
            }
            .home{
                border: 2px solid rgb(205,33,29);
                padding: .4rem .8rem;
                color: rgb(205,33,29);
                border-radius: 20px;
            }
            a{
                text-decoration: none;
                color: white;
                &:hover{
                    color: rgb(205,33,29);
                }
                @media(max-width: 600px){
                    display: none;
                }
            
            }
        }

    }
    .right-abt-nav{
        width: 20%;
        gap: 1rem;
        border-left: 1px solid white;
        @media(max-width: 600px),(max-width: 400px){
            display: none;
        }
    }
}
.hero-sectn{
    width: 100%;
    height: 90vh;
    position: relative;
    z-index: 0;
    img{
        width: 100%;
        filter: grayscale(100%);
        height: 100%;
        @media(max-width: 600px),(max-width: 400px){
            width: 100%;
        }
    }
    
    h1{
        color: white;
        position: absolute;
        left: 43%;
        padding: 2rem 1rem;
        top: 50%;
        z-index: 100;
        @media(max-width: 600px),(max-width: 400px){
        left: 30%;
        top: 50%;
        }
    }
}